* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100%;
  background-color: #f6e8e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #0c2334;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  background-color: #f6f6f6;
  width: 500px;
  height: 500px;
  border-radius: 1em;
}
