@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@500&family=Oxanium:wght@200&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100%;
  background-color: #f6e8e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #0c2334;
  max-width: 600px;
  min-height: 600px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  background-color: #f6f6f6;
  max-width: 600px;
  min-height: 500px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.counter {
  width: 100%;
  text-align: end;
  margin: 0 2rem 0 0;
  font-size: 0.9rem;
  font-family: "Oxanium", cursive;
}

.title {
  margin: 0;
  padding: 1rem;
  font-family: "Cairo Play", cursive;
}

.description {
  margin: 0;
  text-align: center;
  padding: 1rem;
  font-family: "Oxanium", cursive;
}

.die-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.die {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}

.roll-button {
  background-color: #5035ff;
  color: #ffffff;
  box-shadow: 0px 3.2px 7.68px rgba(0, 0, 0, 0.18);
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  font-family: "Oxanium", cursive;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    max-width: 500px;
  }
  .game {
    max-width: 400px;
    padding: 1rem;
  }
  .counter {
    margin: 0.5rem 1rem 0 0;
    font-size: 0.8rem;
  }
  .title {
    font-size: 1.8rem;
  }
  .description {
    font-size: 0.8rem;
  }
  .die-grid {
    display: grid;
    gap: 0;
    grid-template-columns: 40px 40px 40px 40px 40px;
    margin-bottom: 1rem;
  }
}
