* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  max-width: 100%;
  background-color: #f6e8e0;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: #0c2334;
  width: 600px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  background-color: #f6f6f6;
  width: 500px;
  height: 500px;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.die-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 50px 50px 50px 50px 50px;
}

.die {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
}
